@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://code.getmdl.io/1.3.0/material.teal-red.min.css";
@charset "UTF-8";
* {
	box-sizing: border-box;
}
.mdl-layout__drawer {
	background: #242424;
	border: none;
}
.mdl-layout__drawer .mdl-navigation 
.mdl-navigation__link:hover {
	background: #808080;
	color: #fafafa;
}